<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Accident Prediction</title>
     <link rel="stylesheet" href="p.css"> -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='p.css') }}">

</head>
<body>
    <h2>Madhavi...</h2>
    <div class="container">
        <h2>Enter Details for Prediction</h2>
        <form action="/predict" method="post">
            <label>Age Band of Driver:</label>
            <input type="text" name="age_band" required>

            <label>Type of Vehicle:</label>
            <input type="text" name="vehicle_type" required>

            <label>Road Surface Conditions:</label>
            <input type="text" name="road_surface" required>

            <label>Light Conditions:</label>
            <input type="text" name="light_conditions" required>

            <label>Weather Conditions:</label>
            <input type="text" name="weather" required>

            <label>Collision Type:</label>
            <input type="text" name="collision_type" required>

            <label>Number of Casualties:</label>
            <input type="number" name="casualties" required>

            <label>Pedestrian Movement:</label>
            <input type="text" name="pedestrian_movement" required>

            <label>Hour of the Accident:</label>
            <input type="number" name="hour" required>

            <label>Day of the Week:</label>
            <input type="text" name="day_of_week" required>

            <label>Main Cause of Accident:</label>
            <input type="text" name="cause_of_accident" required>

            <label>Gender of Driver:</label>
            <input type="text" name="gender" required>

            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <h3>Prediction: {{ prediction }}</h3>
        {% endif %}
    </div>
</body>
</html>-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sc/h5>ale=1.0">
    <title>Road Accident Prediction</title>
    <!-- <link rel="stylesheet" href="p.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='p.css') }}">

</head>
<body>
    <div class="container">
        <h1>Enter Details for Prediction</h1>
        <form action="/predict" method="post">
            <!--<label><h3>Age Band of Driver:</h3></label>
            <input type="text" name="age_band" required>
            <small><b>
                '18-30': 0, '31-50': 1, 'Over 51': 2, 'Under 18': 3, 'Unknown': 4</b>
            </small>-->

            <div class="input-container">
                <label for="age_band"><b>Age Band of Driver:</b></label>
                <input type="text" id="age_band" name="age_band">
                <div class="description">
                  '18-30': 0, '31-50': 1, 'Over 51': 2, 'Under 18': 3, 'Unknown': 4
                </div>
              </div>
                <!--<label><h3>Type of Vehicle:</h3></label>
            <input type="text" name="vehicle_type" required>
            <small><b>'Automobile': 0, 'Bajaj': 1, 'Bicycle': 2, 'Long lorry': 3, 'Lorry (11?40Q)': 4, 'Lorry (41?100Q)': 5,
                 'Motorcycle': 6, 'Other': 7, 'Pick up upto 10Q': 8, 'Public (12 seats)': 9, 'Public (13?45 seats)': 10, 
                 'Public (> 45 seats)': 11, 'Ridden horse': 12, 'Special vehicle': 13, 'Stationwagen': 14, 'Taxi': 15, 'Turbo': 16
            </b></small>-->
     

<div class="input-container">
  <label for="vehicle_type"><b>Type of Vehicle:</b></label>
  <input type="text" id="vehicle_type" name="vehicle_type">
  <div class="description">
    'Automobile': 0, 'Bajaj': 1, 'Bicycle': 2, 'Long lorry': 3, 'Lorry (11?40Q)': 4, 'Lorry (41?100Q)': 5,
                 'Motorcycle': 6, 'Other': 7, 'Pick up upto 10Q': 8, 'Public (12 seats)': 9, 'Public (13?45 seats)': 10, 
                 'Public (> 45 seats)': 11, 'Ridden horse': 12, 'Special vehicle': 13, 'Stationwagen': 14, 'Taxi': 15, 'Turbo': 16
  </div>
</div>


<!--<label><h3>Road Surface Conditions:</h3></label>
            <input type="text" name="road_surface" required>
            <small><b>'Dry': 0, 'Flood over 3cm. deep': 1, 'Snow': 2, 'Wet or damp': 3</b></small>-->
            <div class="input-container">
                <label for="road_surface"><b>Surface Conditions:</b></label>
                <input type="text" id="road_surface" name="road_surface">
                <div class="description">  
                    'Dry': 0, 'Flood over 3cm. deep': 1, 'Snow': 2, 'Wet or damp': 3
                </div>
            </div>
                 

            <!--<label><h3>Light Conditions:</h3></label>
            <input type="text" name="light_conditions" required>
            <small><b>'Darkness - lights lit': 0, 'Darkness - lights unlit': 1, 'Darkness - no lighting': 2, 'Daylight': 3</b></small>-->
            <div class="input-container">
                <label for="light_conditions"><b>Light Conditions:</b></label>
                <input type="text" id="light_conditions" name="light_conditions">
                <div class="description">  
                    'Darkness - lights lit': 0, 'Darkness - lights unlit': 1, 'Darkness - no lighting': 2, 'Daylight': 3
                </div>
            </div>
                 

            <!--<label><h3> Conditions:</h3></label>
            <input type="text" name="weather" required>
            <small><b>
                'Cloudy': 0, 'Fog or mist': 1, 'Normal': 2, 'Other': 3, 'Raining': 4, 'Raining and Windy': 5, 'Snow': 6, 'Unknown': 7, 'Windy': 8
            </b></small>-->
            <div class="input-container">
                <label for="weather"><b> Conditions:</b></label>
                <input type="text" id="weather" name="weather">
                <div class="description"> 
                    'Cloudy': 0, 'Fog or mist': 1, 'Normal': 2, 'Other': 3, 'Raining': 4, 'Raining and Windy': 5, 'Snow': 6, 'Unknown': 7, 'Windy': 8
                </div>
            </div>

            <!--<label><h3>Collision Type:</h3></label>
            <input type="text" name="collision_type" required>
            <small><b>'Collision with animals': 0, 'Collision with pedestrians': 1, 'Collision with roadside objects': 2,
                 'Collision with roadside-parked vehicles': 3, 'Fall from vehicles': 4,
                 'Other': 5, 'Rollover': 6, 'Unknown': 7, 'Vehicle with vehicle collision': 8, 'With Train': 9</b></small>-->
             
                 <div class="input-container">
                    <label for="collision_type"><b>Collision Type:</b></label>
                    <input type="text" id="collision_type" name="collision_type">
                    <div class="description"> 
                        'Collision with animals': 0, 'Collision with pedestrians': 1, 'Collision with roadside objects': 2,
                        'Collision with roadside-parked vehicles': 3, 'Fall from vehicles': 4,
                        'Other': 5, 'Rollover': 6, 'Unknown': 7, 'Vehicle with vehicle collision': 8, 'With Train': 9
                    </div>
                </div>

            <!--<label><h3>Number of Casualties:</h3></label>
            <input type="number" name="casualties" required>-->
            <div class="input-container">
                <label for="casualties"><b>Number of Casualties:</b></label>
                <input type="text" id="casualties" name="casualties"></div>

            <!--<label><h3>Pedestrian Movement:</h3></label>
            <input type="text" name="pedestrian_movement" required>
            <small><b> "Crossing from driver's nearside": 0, 'Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle': 1, 
                'Crossing from offside - masked by  parked or statioNot a Pedestrianry vehicle': 2, 'In carriageway,
                 statioNot a Pedestrianry - not crossing  (standing or playing)': 3, 'In carriageway, statioNot a Pedestrianry - not crossing  
                 (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle': 4, 'Not a Pedestrian': 5, 'Unknown or other': 6, 
                 'Walking along in carriageway, back to traffic': 7, 'Walking along in carriageway, facing traffic': 8
            </b></small>-->

            <div class="input-container">
                <label for="pedestrian_movement"><b>Pedestrian Movement:</b></label>
                <input type="text" id="pedestrian_movement" name="pedestrian_movement">
                <div class="description">
                    Crossing from driver's nearside": 0, 'Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle': 1, 
                    'Crossing from offside - masked by  parked or statioNot a Pedestrianry vehicle': 2, 'In carriageway,
                     statioNot a Pedestrianry - not crossing  (standing or playing)': 3, 'In carriageway, statioNot a Pedestrianry - not crossing  
                     (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle': 4, 'Not a Pedestrian': 5, 'Unknown or other': 6, 
                     'Walking along in carriageway, back to traffic': 7, 'Walking along in carriageway, facing traffic': 8
                </div>
            </div>

  <!--<label><h3>Hour of the Accident:</h3></label>
            <input type="number" name="hour" required>-->
            <div class="input-container">
                <label for="hour"><b>Hour of the Accident:</b></label>
                <input type="text" id="hour" name="hour"></div>

            <!--<label><h3>Day of the Week:</h3></label>
            <input type="text" name="day_of_week" required>
            <small><b>
                'Friday': 0, 'Monday': 1, 'Saturday': 2, 'Sunday': 3, 'Thursday': 4, 'Tuesday': 5, 'Wednesday': 6
            </b></small>-->
            <div class="input-container">
                <label for="day_of_week"><b>Day of the Week:</b></label>
                <input type="text" id="day_of_week" name="day_of_week">
                <div class="description">
                    'Friday': 0, 'Monday': 1, 'Saturday': 2, 'Sunday': 3, 'Thursday': 4, 'Tuesday': 5, 'Wednesday': 6
                </div>
            </div>


            <!--<label><h3>Main Cause of Accident:</h3></label>
            <input type="text" name="cause_of_accident" required>
            <small><b>'Changing lane to the left': 0, 'Changing lane to the right': 1, 'Driving at high speed': 2, 'Driving carelessly': 3,
                 'Driving to the left': 4, 'Driving under the influence of drugs': 5, 'Drunk driving': 6, 'Getting off the vehicle improperly': 7,
                  'Improper parking': 8, 'Moving Backward': 9, 'No distancing': 10, 'No priority to pedestrian': 11, 'No priority to vehicle': 12, 
                  'Other': 13, 'Overloading': 14, 'Overspeed': 15, 'Overtaking': 16, 'Overturning': 17, 'Turnover': 18, 'Unknown': 19</b></small>-->
              
                  <div class="input-container">
                    <label for="cause_of_accident"><b>Main Cause of Accident:</b></label>
                    <input type="text" id="cause_of_accident" name="cause_of_accident">
                    <div class="description">
                        'Changing lane to the left': 0, 'Changing lane to the right': 1, 'Driving at high speed': 2, 'Driving carelessly': 3,
                        'Driving to the left': 4, 'Driving under the influence of drugs': 5, 'Drunk driving': 6, 'Getting off the vehicle improperly': 7,
                         'Improper parking': 8, 'Moving Backward': 9, 'No distancing': 10, 'No priority to pedestrian': 11, 'No priority to vehicle': 12, 
                         'Other': 13, 'Overloading': 14, 'Overspeed': 15, 'Overtaking': 16, 'Overturning': 17, 'Turnover': 18, 'Unknown': 19
                      
                    </div>
                </div>           

            <!--<label><h3>Gender of Driver:</h3></label>
            <input type="text" name="gender" required>
            <small><b>
                'Female': 0, 'Male': 1, 'Unknown': 2
            </b></small>-->
            <div class="input-container">
                <label for="gender"><b>Gender of Driver:</b></label>
                <input type="text" id="gender" name="gender">
                <div class="description">
                    'Female': 0, 'Male': 1, 'Unknown': 2 
                </div>
            </div>           
 

            <button type="submit">Predict</button>
        </form>

    </div>
    

</body>
</html>
